// Reset/normalize
// Typography rules

// Sass Variables
// Sass Functions
// Sass Mixins

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary-color : #E5AE8C;
$accent-color: #006FBE;
$black-color: #070707;

